<% var numberOfTrue = 0 %>

<% for(var i=0; i < chat.length; i++) { 
    if(chat[i].body.isRead === false){
        numberOfTrue = numberOfTrue + 1
    }
 }  %>


<li class="list-inline-item dropdown notification-list">
    <a class="nav-link dropdown-toggle arrow-none waves-effect" data-toggle="dropdown" href="#" role="button" aria-haspopup="false"
        aria-expanded="false">
        <i class="fa fa-envelope"></i>
        <% if(numberOfTrue !== 0) { %>
        <span class="badge badge-danger noti-icon-badge"><%= numberOfTrue %></span>
        <% }else{ %>
        <span class="badge badge-danger noti-icon-badge"></span>
        <% } %>
    </a>
    <div class="dropdown-menu dropdown-menu-left dropdown-arrow dropdown-menu-sm">
        <!-- item-->
        <div class="dropdown-item noti-title">
            <h5>
                <span class="badge badge-danger float-right">745</span>Messages</h5>
        </div>

        <!-- item-->
        <% if(chat.length > 0) { %>
            <% _forEach(chat, function(val) { %>
                <% if(user.username !== val.body.senderName) { %>
        <a href="/chat/<%= _.lowerCase(val.body.senderName) %>.<%= _.lowerCase(user.username) %>" class="dropdown-item notify-item">
            <div class="notify-icon">
                <img src="https://placehold.it/300x300.io" alt="" class="img-fluid rounded-circle" /> </div>
            <p class="notify-details">
                <% if(user.username !== val.body.receiverName) { %>
                <b><%= val.body.receiverName %></b>
                <% }else { %>
                    <b><%= val.body.senderName %></b>
                    <% } %>
                <small class="text-muted"><%= val.body.messaage %></small>
            </p>
        </a>
<% }else if(user.username === val.body.senderName){ %>
            <a href="/chat/<%= _.lowerCase(val.body.receiverName) %>.<%= _.lowerCase(user.username) %>" class="dropdown-item notify-item">
            <div class="notify-icon">
                <img src="https://placehold.it/300x300.io" alt="" class="img-fluid rounded-circle" /> </div>
            <p class="notify-details">
                <% if(user.username !== val.body.receiverName) { %>
                <b><%= val.body.receiverName %></b>
                <% }else { %>
                    <b><%= val.body.senderName %></b>
                    <% } %>
                <small class="text-muted"><%= val.body.messaage %></small>
            </p>
        </a>
<% } %>
        <% }) %>
        <% } %>
    </div>
</li>


<style>

.badge-danger {
    background-color: #ec536c;
}
.badge {
    font-weight: 500;
}
.notification-list .noti-title {
    border-radius: 0.25rem 0.25rem 0 0;
    background-color: #eff3f6;
    margin: -7px 0px 0px 0px;
    width: auto;
    padding: 12px 20px;
}
.notification-list .notify-item .notify-details .small {
    display: block;
    white-space: normal;
}

.notification-list .notify-item .notify-icon .img {
    margin-top: 4px;
}

.rounded-circle {
    border-radius: 50%!important;
}

.img-fluid {
    max-width: 100%;
    height: auto;
}

img {
    vertical-align: middle;
    border-style: none;
}

.notification-list .notify-item .notify-icon {
    float: left;
    height: 36px;
    width: 36px;
    line-height: 36px;
    text-align: center;
    margin-right: 10px;
    border-radius: 50%;
    color: #ffffff;
}

.badge-danger {
    color: #fff;
    background-color: #dc3545;
}

.badge {
    display: inline-block;
    padding: .25em .4em;
    font-size: 75%;
    font-weight: 700;
    line-height: 1;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: .25rem;
}

.notification-list .noti-icon-badge {
    display: inline-block;
    position: absolute;
    top: -5px;
    right: 9px;
}

.dropdown-menu-sm {
    width: 270px;
}

/* .dropdown-menu-right {
    right: -0px;
    } */

.notification-list .notify-item {
    padding: 15px 20px;
}
    .fa .fa-envelope{
      font-size: 18px;
    }


   
</style>