<% var numberOfTrue = 0 %>

<% for(var i=0; i < chat.length; i++) { 
    if(chat[i].body.isRead === false){
        numberOfTrue = numberOfTrue + 1
    }
 }  %>


<li class="dropdown dropdown-notification nav-item notification-list" id="reload">
    <a  class="nav-link nav-link-label" href="#" data-toggle="dropdown">
        <i class="ficon ft-mail"></i>
        <% if(numberOfTrue !== 0) { %>
        <span class="badge badge-pill badge-default badge-warning badge-default badge-up"><%= numberOfTrue %></span>
        <% }else{ %>
        <span class="badge badge-pill badge-default badge-warning badge-default badge-up">0</span>
        <% } %>
    </a>
    <ul class="dropdown-menu dropdown-menu-media dropdown-menu-right">
        <li class="dropdown-menu-header">
            <h6 class="dropdown-header m-0">
                <span class="grey darken-2">Messages</span>
                <span class="notification-tag badge badge-default badge-warning float-right m-0"><%= numberOfTrue %></span>
            </h6>
        </li>
         
        <li class="scrollable-container media-list">
            <% if(chat.length > 0) { %>
                <% _.forEach(chat, function(val) { %>
                    <% if(user.username !== val.body.senderName) { %>
            <a data-value="<%= val.body._id %>" id="messageLink" href="/chat/<%= _.lowerCase(val.body.senderName) %>.<%= _.lowerCase(user.username) %>">
                <div class="media">
                    <div class="media-left">
                        <span class="avatar avatar-sm avatar-online rounded-circle">
                            <img src="../../../app-assets/images/portrait/small/avatar-s-1.png" alt="avatar">
                            <i></i>
                        </span>
                    </div>
                    <div class="media-body">
                        <% if(user.username !== val.body.receiverName) { %>
                        <h6 class="media-heading"><%= val.body.receiverName %></h6>
                        <% }else { %>
                        <h6 class="media-heading"><%= val.body.senderName %></h6>
                        <% } %>
                        <p class="notification-text font-small-3 text-muted"><%= val.body.message %></p>
                         <input type="hidden" name="chatId" id="chatId" value="<%= val.body._id %>">
                        <small>
                            <time class="media-meta text-muted" datetime="2015-06-11T18:29:20+08:00">Today</time>
                        </small>
                    </div>
                </div>
            </a>
            <% }else if(user.username === val.body.senderName){ %>
                <a data-value="<%= val.body._id %>" id="messageLink" href="/chat/<%= _.lowerCase(val.body.senderName) %>.<%= _.lowerCase(user.username) %>">
                <div class="media">
                    <div class="media-left">
                        <span class="avatar avatar-sm avatar-online rounded-circle">
                            <img src="../../../app-assets/images/portrait/small/avatar-s-1.png" alt="avatar">
                            <i></i>
                        </span>
                    </div>
                    <div class="media-body">
                        <% if(user.username !== val.body.receiverName) { %>
                        <h6 class="media-heading"><%= val.body.receiverName %></h6>
                        <% }else { %>
                        <h6 class="media-heading"><%= val.body.senderName %></h6>
                        <% } %>
                        <p class="notification-text font-small-3 text-muted"><%= val.body.message %></p>
                         <input type="hidden" name="chatId" id="chatId" value="<%= val.body._id %>">
                        <small>
                            <time class="media-meta text-muted" datetime="2015-06-11T18:29:20+08:00">Today</time>
                        </small>
                    </div>
                </div>
            </a>
        <% } %>
        <% }) %>
        <% } %>
        </li>
        <li class="dropdown-menu-footer">
            <a class="dropdown-item text-muted text-center" href="javascript:void(0)">Read all messages</a>
        </li>
    </ul>
</li>