
    <link rel="stylesheet" type="text/css" href="../assets/vendors/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="../assets/vendors/jscrollpane/style/jquery.jscrollpane.css">
  
    <link rel="stylesheet" type="text/css" href="../assets/vendors/select2/dist/css/select2.min.css">



    <!-- Clean UI Styles -->
    <link rel="stylesheet" type="text/css" href="../assets/common/css/source/main.css">

    <!-- Vendors Scripts -->
    <!-- v1.0.0 -->
    <script src="../assets/vendors/jquery/jquery.min.js"></script>
    <script src="../assets/vendors/tether/dist/js/tether.min.js"></script>
    <script src="../assets/vendors/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="../assets/vendors/jquery-mousewheel/jquery.mousewheel.min.js"></script>
    <script src="../assets/vendors/jscrollpane/script/jquery.jscrollpane.min.js"></script>
    <script src="../assets/vendors/spin.js/spin.js"></script>
    <script src="../assets/vendors/ladda/dist/ladda.min.js"></script>
    <script src="../assets/vendors/select2/dist/js/select2.full.min.js"></script>
    <script src="../assets/vendors/html5-form-validation/dist/jquery.validation.min.js"></script>
    <script src="../assets/vendors/jquery-typeahead/dist/jquery.typeahead.min.js"></script>
    <script src="../assets/vendors/jquery-mask-plugin/dist/jquery.mask.min.js"></script>
    <script src="../assets/vendors/autosize/dist/autosize.min.js"></script>
    <!-- <script src="../assets/vendors/bootstrap-show-password/bootstrap-show-password.min.js"></script> -->
    <script src="../assets/vendors/moment/min/moment.min.js"></script>
    <script src="../assets/vendors/eonasdan-bootstrap-datetimepicker/build/js/bootstrap-datetimepicker.min.js"></script>

    <!-- Clean UI Scripts -->
    <script src="../assets/common/js/common.js"></script>
    <script src="../assets/common/js/demo.temp.js"></script>
</head>
<body class="theme-default">
<nav class="left-menu" left-menu>
    <div class="logo-container">
        <a href="/home" class="logo">
            <img src="../assets/common/img/logo.png" alt="GPchat logo" />
            <img class="logo-inverse" src="../assets/common/img/logo-inverse.png" alt="GPchat logo" />
        </a>
    </div>
    <div class="left-menu-inner scroll-pane">
        <ul class="left-menu-list left-menu-list-root list-unstyled">
            <li class="left-menu-list-submenu">
                <ul class="left-menu-list list-unstyled">
                    <li>
                        <div class="left-menu-item">
                            <div class="left-menu-block">
                                <div class="left-menu-block-item">
                                    <span class="font-weight-600">Fixed Top Menu</sup>:</span>
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
            </li>
            <li>
                <a class="left-menu-link" href="documentation.html">
                    <i class="left-menu-link-icon icmn-books"><!-- --></i>
                    News
                </a>
            </li>
                   
            <li class="left-menu-list-separator"><!-- --></li>
            <li class="menu-top-hidden no-colorful-menu">
                <div class="left-menu-item">
                    Your Faverite
                </div>
            </li>
            <li class="menu-top-hidden">
                <div class="left-menu-item">
                    <span class="donut donut-success"></span> Jupiter
                </div>
            </li>
            <li class="menu-top-hidden">
                <div class="left-menu-item">
                    <span class="donut donut-primary"></span> Earth
                </div>
            </li>
            <li class="menu-top-hidden">
                <div class="left-menu-item">
                    <span class="donut donut-danger"></span> Mercury
                </div>
            </li>
        </ul>
    </div>
</nav>


<nav class="top-menu">
    <div class="menu-icon-container hidden-md-up">
        <div class="animate-menu-button left-menu-toggle">
            <div>
                <!-- -->
            </div>
        </div>
    </div>
    <div class="menu">
        <div class="menu-user-block">
            <div class="dropdown dropdown-avatar">
                <a href="javascript: void(0);" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                    <span class="avatar" href="javascript:void(0);">
                        <img src="../assets/common/img/temp/avatars/1.jpg" alt="Alternative text to the image">
                        
                    </span>
                </a>
                
                
                <ul class="dropdown-menu dropdown-menu-right" aria-labelledby="" role="menu">
                    <a class="dropdown-item" href="javascript:void(0)">
                        <i class="dropdown-icon icmn-user"></i><%= _.upperFirst(user.username) %></a>
                    <div class="dropdown-divider"></div>
                    <div class="dropdown-header">Profile</div>
                    <a class="dropdown-item" href="javascript:void(0)">
                        <i class="dropdown-icon icmn-circle-right"></i> System Dashboard</a>
                    <a class="dropdown-item" href="javascript:void(0)">
                        <i class="dropdown-icon icmn-circle-right"></i> User Boards</a>
                    <a class="dropdown-item" href="javascript:void(0)">
                        <i class="dropdown-icon icmn-circle-right"></i> Issue Navigator (35 New)</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="/logout">
                        <i class="dropdown-icon icmn-exit"></i> Logout</a>
                </ul>
            </div>
        </div>
        <div class="menu-info-block">
            <div class="left">
                <div class="header-buttons">                    
                    <div class="dropdown">
                        <a href="javascript: void(0);" class="dropdown-toggle dropdown-inline-button" data-toggle="dropdown" aria-expanded="false">
                            <i class="dropdown-inline-button-icon icmn-database"></i>
                            <span class="hidden-lg-down">Dashboards</span>
                            <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="" role="menu">
                            <div class="dropdown-header">Active</div>
                            <a class="dropdown-item" href="javascript:void(0)">Project Management</a>
                            <a class="dropdown-item" href="javascript:void(0)">User Inetrface Development</a>
                            <a class="dropdown-item" href="javascript:void(0)">Documentation</a>
                            <div class="dropdown-header">Inactive</div>
                            <a class="dropdown-item" href="javascript:void(0)">Marketing</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="javascript:void(0)">
                                <i class="dropdown-icon icmn-cog"></i> Settings</a>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="menu-info-block">
            <div class="left">
                <div class="header-buttons">
                    <div class="dropdown">
                    <li class="nav-item dropdown" id="reload">
                        <a href="#" class="nav-link dropdown-toggle mr-lg-2" id="contactsDropdown"  data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="fa fa-fw fa-bell"></i>
                            <b class="caret"></b>
                            <% if(data.totalRequest > 0) { %>
                                <span class="label label-primary nav-label-icon"><%= data.request.length %></span>
                            <% }else{ %>
                                <span class="label label-primary nav-label-icon" style="display: none"></span>
                            <% } %>
                            
                        </a>
                        <div class="dropdown-menu dropdown-menu-left" style="min-width: 100px;" aria-labelledby="contactsDropdown">
                            <h6 class="dropdown-header">Friend Request:</h6>
                            <% if(data.request.length > 0) { %>
                            <% _.forEach(data.request, function(val) { %>
                            <div class="row dropdown-item">
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="#"></a>
                                <img src="" class="rounded-circle"
                                    style="width: 50px; height: 50px;">
                                <div class="text-left user-item" style="display: inline-block; margin-left: 10px; width: 100px;">
                                    <%= val.username %>
                                </div>
                                <span class="text-right">
                                    <!-- accept -->
                                    <span class="accept">
                                    <input type="hidden" name="senderId" id="senderId" value="<%= val.userId._id %>">
                                    <input type="hidden" name="senderName" id="senderName" value="<%= val.username %>">
                                    <input type="submit" name="accept" id="accept_friend" class="btn btn-primary btn-sm" value="accept">
                                    </span>
                                    <!-- cancel -->
                                    <span class="accept">
                                    <input type="hidden" name="user_Id" id="user_Id" value="<%= val.userId._id %>">
                                    <input  type="submit" name="cancel" id="cancel_friend" class="btn btn-default btn-sm" value="cancel">
                                    </span>
                                </span>
                         
                            </div>
                            <% }) %>
                            <% } else { %>
                                <p class="text-center">No Friend Request</p>
                            <% } %>    
                        </div>
                    </li>
                    
                    <%- include message.ejs %>
                    
                    </div>
                </div>
            </div>
</div>
        <style>
            .dropdown-item .user-item {
  white-space: normal;
  vertical-align: middle: 
}
          </style>



            <div class="right hidden-md-down margin-left-20">
                <div class="search-block">
                    <div class="form-input-icon form-input-icon-right">
                        <i class="icmn-search"></i>
                        <input type="text" class="form-control form-control-sm form-control-rounded" placeholder="Search...">
                        <button type="submit" class="search-block-submit "></button>
                    </div>
                </div>
            </div>
    </div>
</nav>

