<!DOCTYPE html>
<html lang="en" data-textdirection="ltr">
<head>
  
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
  <meta name="author" content="ZUBER">
  <title>GPchat | Home</title>
  <%- include partials/navbar.ejs %>
  <!-- Horizontal navigation-->
  <div class="app-content container center-layout mt-2">
    <div class="content-wrapper">
      <div class="content-header row">
        <div class="content-header-left col-md-6 col-12 mb-2">
          <h3 class="content-header-title mb-0">Groupchat</h3>
          <div class="row breadcrumbs-top">
            <div class="breadcrumb-wrapper col-12">
              <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/home">Home</a>
                </li>
                <li class="breadcrumb-item active">Groupchat
                </li>
              </ol>
            </div>
          </div>
        </div>
      </div>
      <div class="content-body">
		<div class="col-12">
			<h4 class="text-uppercase">Welcome back
				<strong>
					<%= user.username %>
				</strong>
			</h4>
			<p>it is time to Stay loop with the GPchats.</p>
		</div>
        
		<!-- User Profile Cards with Stats -->
		<form action="/home" method="POST" id="favorite">
		<% _.forEach(chunks, function(val) {  %> 
        <section id="user-profile-cards-with-stats" class="row mt-2">
         
			<% _.forEach(val, function(val2) {  %>
				
          <div class="col-xl-4 col-md-6 col-12">
            <div class="card profile-card-with-stats border-teal border-lighten-2">
              <div class="text-center">
				<div class="card profile-card-with-cover ">
					<!--<img class="card-img-top img-fluid" src="../../../app-assets/images/carousel/16.jpg" alt="Card cover image">-->
					<div class="card-img-top img-fluid bg-cover height-200" style="background: url('../../../app-assets/images/carousel/16.jpg');"></div>
					<div class="card-profile-image">
						<img src="../../../app-assets/images/portrait/small/avatar-s-9.png" class="rounded-circle img-border" alt="Card image">
					</div>
				</div>
                <div class="card-body">
                  <br><h4 class="card-title"><%= val2.name %></h4>
                  <ul class="list-inline list-inline-pipe">
                    <li><%= val2.country %></li>
                    <li>Group</li>
                  </ul>
                </div>
                <div class="btn-group" role="group" aria-label="Profile example">
                  <button type="button" class="btn btn-float box-shadow-0 btn-outline-info btn-round">
                    <span class="ladda-label"><i class="fa fa-bell-o"></i>
                      <span>12+</span>
                    </span>
                    <span class="ladda-spinner"></span>
                  </button>
                  <button type="button" class="btn btn-float box-shadow-0 btn-outline-info btn-round">
					<span class="ladda-label"><i class="fa fa-heart-o"></i>
						<input type="hidden" name="id" id="id" value="<%= val2._id %>">
						<input type="hidden" name="gpName" id="gp_Name" value="<%= val2.name%>">
                      <span><%= val2.fans.length %></span>
                    </span>
                    <span class="ladda-spinner"></span>
                  </button>
                  <button type="button" class="btn btn-float box-shadow-0 btn-outline-info btn-round">
                    <span class="ladda-label"><i class="ft-mail"></i>
                      <span>75+</span>
                    </span>
                    <span class="ladda-spinner"></span>
                  </button>
                  <button type="button" class="btn btn-float box-shadow-0 btn-outline-info btn-round">
                    <span class="ladda-label"><i class="fa fa-dashcube"></i>
                      <span>125</span>
                    </span>
                    <span class="ladda-spinner"></span>
                  </button>
                </div>
                <div class="card-body">
                  <input type="hidden" name="id" id="id" value="<%= val2._id %>">
                  <input type="hidden" name="gpName" id="gp_Name" value="<%= val2.name%>">
                  <button type="button" class="button btn btn-outline-danger btn-md btn-round mr-1"> Add To Fov</button>
                  <a class="overlay-link" href="/group/<%= val2.name.replace(/ /g, "-") %>"><button type="button" class="btn btn-outline-danger btn-md btn-round mr-1"> Enter Group</button></a>
                </div>
              </div>
            </div>
		  </div>
		 
		  <% }) %>
          
		</section>
		<% }) %>
		</form>
        <!-- User Profile Cards with Stats -->
      </div>
    </div>
  </div>
<!-- ////////////////////////////////////////////////////////////////////////////-->
<footer class="footer footer-static footer-light navbar-shadow">
  <p class="clearfix blue-grey lighten-2 text-sm-center mb-0 px-2 container center-layout">
    <span class="float-md-left d-block d-md-inline-block">Copyright &copy; 2018
      <a class="text-bold-800 grey darken-2" href="https://zuham.herokuapp.com/" target="_blank">GPChat </a>, All rights reserved. </span>
    <span class="float-md-right d-block d-md-inline-block d-none d-lg-block">Group And Private Chat </span>
  </p>
</footer>
<!-- BEGIN VENDOR JS-->
<script src="/app-assets/vendors/js/vendors.min.js" type="text/javascript"></script>
<!-- BEGIN VENDOR JS-->
<!-- BEGIN PAGE VENDOR JS-->
<script type="text/javascript" src="/app-assets/vendors/js/ui/jquery.sticky.js"></script>
<script type="text/javascript" src="/app-assets/vendors/js/charts/jquery.sparkline.min.js"></script>
<!-- END PAGE VENDOR JS-->
<!-- BEGIN STACK JS-->
<script src="/app-assets/js/core/app-menu.js" type="text/javascript"></script>
<script src="/app-assets/js/core/app.js" type="text/javascript"></script>
<script src="/app-assets/js/scripts/customizer.js" type="text/javascript"></script>
<!-- END STACK JS-->
<!-- BEGIN PAGE LEVEL JS-->
<script type="text/javascript" src="/app-assets/js/scripts/ui/breadcrumbs-with-stats.js"></script>
<script src="/socket.io/socket.io.js"></script>
<script src="/js/messagelink.js"></script>
<script src="/js/group/sendrequest.js"></script>
<script src="/js/home.js"></script>
<script src="/js/deparam.js"></script>
<!-- END PAGE LEVEL JS-->
</body>

</html>