<!DOCTYPE html>
<html lang="en" data-textdirection="ltr">

<!DOCTYPE html>
<html lang="en" data-textdirection="ltr">

<head>

	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
	<meta name="author" content="ZUBER">
	<title>GPChat | Results</title>
	<!-- <link rel="apple-touch-icon" href="../../../app-assets/images/ico/apple-icon-120.png">
  <link rel="shortcut icon" type="image/x-icon" href="../../../app-assets/images/ico/favicon.ico"> -->
	<link href="https://fonts.googleapis.com/css?family=Montserrat:300,300i,400,400i,500,500i%7COpen+Sans:300,300i,400,400i,600,600i,700,700i"
	 rel="stylesheet">
	<!-- BEGIN VENDOR CSS-->
	<link rel="stylesheet" type="text/css" href="../../../app-assets/css/vendors.css">
	<!-- END VENDOR CSS-->
	<!-- BEGIN STACK CSS-->
	<link rel="stylesheet" type="text/css" href="../../../app-assets/css/app.css">
	<!-- END STACK CSS-->
	<!-- BEGIN Page Level CSS-->
	<link rel="stylesheet" type="text/css" href="../../../app-assets/css/core/menu/menu-types/horizontal-menu.css">
	<link rel="stylesheet" type="text/css" href="../../../app-assets/css/pages/users.css">
	<!-- END Page Level CSS-->

	<!-- END Custom CSS-->
</head>
<body class="horizontal-layout horizontal-menu 2-columns   menu-expanded" data-open="click"
data-menu="horizontal-menu" data-col="2-columns">
  <!-- fixed-top-->
  <nav class="header-navbar navbar-expand-md navbar navbar-with-menu navbar-static-top navbar-light navbar-border navbar-brand-center">
    <div class="navbar-wrapper">
      <div class="navbar-header">
        <ul class="nav navbar-nav flex-row">
          <li class="nav-item mobile-menu d-md-none mr-auto"><a class="nav-link nav-menu-main menu-toggle hidden-xs" href="#"><i class="ft-menu font-large-1"></i></a></li>
          <li class="nav-item">
            <a class="navbar-brand" href="/home">
              <img class="brand-logo" alt="" src="">
              <h2 style="padding-left: 0px; font-weight: bold;" class="brand-text">GPchat</h2>
            </a>
          </li>
          <li class="nav-item d-md-none">
            <a class="nav-link open-navbar-container" data-toggle="collapse" data-target="#navbar-mobile"><i class="fa fa-ellipsis-v"></i></a>
          </li>
        </ul>
      </div>
      <div class="navbar-container container center-layout">
        <div class="collapse navbar-collapse" id="navbar-mobile">
          <ul class="nav navbar-nav mr-auto float-left">
            <li class="nav-item d-none d-md-block"><a class="nav-link nav-menu-main menu-toggle hidden-xs" href="#"><i class="ft-menu"></i></a></li>
            <li class="nav-item d-none d-md-block"><a class="nav-link nav-link-expand" href="#"><i class="ficon ft-maximize"></i></a></li>
            <form action="/results" method="post">
            <li class="input-group nav-item nav-search"><a class="nav-link nav-link-search" href="#"><i class="ficon ft-search"></i></a>
              <div class="search-input">
                <input class="input new-search-bar" name="country" id="search" type="text" placeholder="Search For Groups...">
                <button style="display: none;" class="btn input-btn " type="" id="search-form">Search</button>
              </div>
            </li>
            </form>
          </ul>
          <ul class="nav navbar-nav float-right">
            <li class="dropdown dropdown-notification nav-item" id="reload">
              <a class="nav-link nav-link-label" href="#" data-toggle="dropdown"><i class="ficon ft-mail"></i>
                <span class="badge badge-pill badge-default badge-warning badge-default badge-up"></span>
               
              </a>
              <ul class="dropdown-menu dropdown-menu-media dropdown-menu-right">
                <li class="dropdown-menu-header">
                  <h6 class="dropdown-header m-0">
                    <span class="grey darken-2">Friend Request</span>
                    <span class="notification-tag badge badge-default badge-warning float-right m-0"></span>
                      <span style="display: none;" class="notification-tag badge badge-default badge-warning float-right m-0">4 New</span>
                  </h6>
                </li>
                <li class="scrollable-container media-list" id="reload">
                 
                
                    <div class="media">
                      <div class="media-left">
                        <span class="avatar avatar-sm avatar-online rounded-circle">
                          <img src="../../../app-assets/images/portrait/small/avatar-s-1.png" alt="avatar"><i></i></span>
                      </div>
                      
                      <span class="text-right">
                        <div class="media-body">
                          <h6 style="text-align: left !important;" class="media-heading"></h6>
                        </div>
                        <!-- accept -->
                        <span class="accept">
                          <input type="hidden" name="senderId" id="senderId" value="">
                          <input type="hidden" name="senderName" id="senderName" value="">
                          <input type="submit" name="accept" id="accept_friend" class="btn btn-primary btn-sm" value="accept">
                        </span>
                        <!-- cancel -->
                        <span class="accept">
                          <input type="hidden" name="user_Id" id="user_Id" value="">
                          <input type="submit" name="cancel" id="cancel_friend" class="btn btn-danger btn-sm" value="cancel">
                        </span>
                      </span>
                    </div>
                  <li class="dropdown-menu-footer">
                    <a class="dropdown-item text-muted text-center" href="javascript:void(0)">Read all messages</a>
                  </li>
            
                  <p class="text-center">No Friend Request</p>
                  <li style="display:none;"  class="dropdown-menu-footer">
                    <a class="dropdown-item text-muted text-center" href="javascript:void(0)">Read all messages</a>
                  </li>
                </li>
                
              </ul>
            </li>
            <!-- Message -->
            

            <li class="dropdown dropdown-user nav-item">
              <a class="dropdown-toggle nav-link dropdown-user-link" href="#" data-toggle="dropdown">
                <span class="avatar avatar-online">
                  <img src="../../../app-assets/images/portrait/small/avatar-s-1.png" alt="avatar"><i></i></span>
                <span class="user-name"><%= _.upperFirst(user.username) %></span>
              </a>
              <div class="dropdown-menu dropdown-menu-right"><a class="dropdown-item" href="/settings/profile"><i class="ft-user"></i> Edit Profile</a>
                <a class="dropdown-item" href="#"><i class="ft-message-square"></i> Chats</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="/logout"><i class="ft-power"></i> Logout</a>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </nav>
   <!-- ////////////////////////////////////////////////////////////////////////////-->
  <!-- Horizontal navigation-->
  <div class="header-navbar navbar-expand-sm navbar navbar-horizontal navbar-fixed navbar-light navbar-without-dd-arrow navbar-shadow menu-border"
  role="navigation" data-menu="menu-wrapper">
    <!-- Horizontal menu content-->
    <div class="navbar-container main-menu-content container center-layout" data-menu="menu-container">
      <!-- include ../../../includes/mixins-->
      <ul class="nav navbar-nav" id="main-menu-navigation" data-menu="menu-navigation">
        <li class="dropdown nav-item" data-menu="dropdown">
          <a class="dropdown-toggle nav-link" href="index.html" data-toggle="dropdown"><i class="ft-home"></i>
            <span>Dashboard</span>
          </a>
          <ul class="dropdown-menu">
            <li data-menu=""><a class="dropdown-item" href="dashboard-ecommerce.html" data-toggle="dropdown">News
                  <submenu class="name"></submenu></a>
            </li>
            <li data-menu=""><a class="dropdown-item" href="dashboard-analytics.html" data-toggle="dropdown">Users
                  <submenu class="name"></submenu></a>
            </li>
          </ul>
        </li>
          </ul>
    </div>
    <!-- /horizontal menu content-->
  </div>
  <!-- Horizontal navigation-->
		<!-- Horizontal navigation-->
		<div class="app-content container center-layout mt-2">
			<div class="content-wrapper">
				<div class="content-header row">
					<div class="content-header-left col-md-6 col-12 mb-2">
						<h3 class="content-header-title mb-0">GPChat Result</h3>
						<div class="row breadcrumbs-top">
							<div class="breadcrumb-wrapper col-12">
								<ol class="breadcrumb">
									<li class="breadcrumb-item">
										<a href="/home">Home</a>
									</li>
									<li class="breadcrumb-item active">Result
									</li>
								</ol>
							</div>
						</div>
					</div>
				</div>
				<div class="content-body">

					<!-- User Profile Cards with Stats -->
					<form action="/home" method="POST" id="favorite">
						<% _.forEach(chunks, function(val) {  %>
							<section id="user-profile-cards-with-stats" class="row mt-2">

								<% _.forEach(val, function(val2) {  %>

									<div class="col-xl-4 col-md-6 col-12">
										<div class="card profile-card-with-stats border-teal border-lighten-2">
											<div class="text-center">
												<div class="card profile-card-with-cover ">
													<!--<img class="card-img-top img-fluid" src="../../../app-assets/images/carousel/16.jpg" alt="Card cover image">-->
													<div class="card-img-top img-fluid bg-cover height-200" style="background: url('../../../app-assets/images/carousel/16.jpg');"></div>
													<div class="card-profile-image">
														<img src="../../../app-assets/images/portrait/small/avatar-s-9.png" class="rounded-circle img-border" alt="Card image">
													</div>
												</div>
												<div class="card-body">
													<br>
													<h4 class="card-title">
														<%= val2.name %>
													</h4>
													<ul class="list-inline list-inline-pipe">
														<li>
															<%= val2.country %>
														</li>
														<li>Group</li>
													</ul>
												</div>
												<div class="btn-group" role="group" aria-label="Profile example">
													<button type="button" class="btn btn-float box-shadow-0 btn-outline-info btn-round">
														<span class="ladda-label">
															<i class="fa fa-bell-o"></i>
															<span>12+</span>
														</span>
														<span class="ladda-spinner"></span>
													</button>
													<button type="button" class="btn btn-float box-shadow-0 btn-outline-info btn-round">
														<span class="ladda-label">
															<i class="fa fa-heart-o"></i>
															<input type="hidden" name="id" id="id" value="<%= val2._id %>">
															<input type="hidden" name="gpName" id="gp_Name" value="<%= val2.name%>">
															<span>
																<%= val2.fans.length %>
															</span>
														</span>
														<span class="ladda-spinner"></span>
													</button>
													<button type="button" class="btn btn-float box-shadow-0 btn-outline-info btn-round">
														<span class="ladda-label">
															<i class="ft-mail"></i>
															<span>75+</span>
														</span>
														<span class="ladda-spinner"></span>
													</button>
													<button type="button" class="btn btn-float box-shadow-0 btn-outline-info btn-round">
														<span class="ladda-label">
															<i class="fa fa-dashcube"></i>
															<span>125</span>
														</span>
														<span class="ladda-spinner"></span>
													</button>
												</div>
												<div class="card-body">
													<input type="hidden" name="id" id="id" value="<%= val2._id %>">
													<input type="hidden" name="gpName" id="gp_Name" value="<%= val2.name%>">
													<button type="button" class="button btn btn-outline-danger btn-md btn-round mr-1"> Add To Fov</button>
													<a class="overlay-link" href="/group/<%= val2.name.replace(/ /g, " - ") %>">
														<button type="button" class="btn btn-outline-danger btn-md btn-round mr-1"> Enter Group</button>
													</a>
												</div>
											</div>
										</div>
									</div>

									<% }) %>

							</section>
							<% }) %>
					</form>
					<!-- User Profile Cards with Stats -->
				</div>
			</div>
		</div>

		<%- include partials/footer.ejs %>