<!DOCTYPE html>
<html lang="en">

<head>
  <meta http-equiv="content-type" content="text/html; charset=utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="robots" content="index, follow" />
  <title>
    <%= title %>
  </title>

  <%- include ../partials/navbar.ejs %>


<div class="container">

      <!-- Timeline
      ================================================= -->
      <div class="timeline">
        <div class="timeline-cover">

          <!--Timeline Menu for Large Screens-->
          <div class="timeline-nav-bar hidden-sm hidden-xs">
            <div class="row">
              <div class="col-md-3">
                <div class="profile-info">
                  <img src="http://placehold.it/300x300" alt="" class="img-responsive profile-photo" />
                  <h3>@<%= user.username %></h3>
                  <p class="text-muted">Creative Director</p>
                </div>
              </div>
              <div class="col-md-9">
                <ul class="list-inline profile-menu">
                  <li><a href="timeline.html">Timeline</a></li>
                  <li><a href="timeline-about.html" class="active">About</a></li>
                  <li><a href="timeline-album.html">Album</a></li>
                  <li><a href="timeline-friends.html">Friends</a></li>
                </ul>
                <ul class="follow-me list-inline">
                  <li>1,299 people following her</li>
                  <li><button class="btn-primary">Add Friend</button></li>
                </ul>
              </div>
            </div>
          </div><!--Timeline Menu for Large Screens End-->

          <!--Timeline Menu for Small Screens-->
          <div class="navbar-mobile hidden-lg hidden-md">
            <div class="profile-info">
              <img src="http://placehold.it/300x300" alt="" class="img-responsive profile-photo" />
              <h4>Sarah Cruiz</h4>
              <p class="text-muted">Creative Director</p>
            </div>
            <div class="mobile-menu">
              <ul class="list-inline">
                <li><a href="timline.html">Timeline</a></li>
                <li><a href="timeline-about.html" class="active">About</a></li>
                <li><a href="timeline-album.html">Album</a></li>
                <li><a href="timeline-friends.html">Friends</a></li>
              </ul>
              <button class="btn-primary">Add Friend</button>
            </div>
          </div><!--Timeline Menu for Small Screens End-->

        </div>
        <div id="page-contents">
          <div class="row">
            <div class="col-md-3">
              
              <!--Edit Profile Menu-->
              <ul class="edit-menu">
              	<li><i class="icon ion-ios-information-outline"></i><a href="edit-profile-basic.html">Basic Information</a></li>
              	<li><i class="icon ion-ios-briefcase-outline"></i><a href="edit-profile-work-edu.html">Education and Work</a></li>
              	<li class="active"><i class="icon ion-ios-heart-outline"></i><a href="edit-profile-interests.html">My Interests</a></li>
                <li><i class="icon ion-ios-settings"></i><a href="edit-profile-settings.html">Account Settings</a></li>
              	<li><i class="icon ion-ios-locked-outline"></i><a href="edit-profile-password.html">Change Password</a></li>
              </ul>
            </div>
            <div class="col-md-7">

              <!-- Edit Interests
              ================================================= -->
              <div class="edit-profile-container">
                <div class="block-title">
                  <h4 class="grey"><i class="icon ion-ios-heart-outline"></i>My Interests</h4>
                  <div class="line"></div>
                  <span  id="error"></span>
                  <!-- <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate</p>
                  <div class="line"></div> -->
                </div>
                <form role="form" action="" method="POST">
                  <!-- hobby -->
                <div class="edit-block">
                  <ul class="list-inline interests">
                    <% _.forEach(user.Hobby, function(val) { %>
                    <li>
                      <a href=""><i class="icon ion-android-bicycle"></i> <%= val.HobbyNames %></a>
                    </li>
                    <% }) %>
                  </ul>
                  <div class="line"></div>
                  <div class="row">
                    <p class="custom-label"><strong>Add YourHobby</strong></p>
                    <div class="form-group col-sm-8">
                      <input type="text" class="form-control input-group-lg" name="Hobby" placeholder="....." id="Hobby" aria-describedby="button-addon2">
                    </div>
                    <div class="form-group col-sm-4">
                      <button id="AddHobby" class="btn btn-primary" type="button">Add Hobby</button>
                    </div>
                  </div>
                </div>
                <!-- Profecinal -->
                <div class="edit-block">
                  <ul class="list-inline interests">
                    <% _.forEach(user.Profecinal, function(val) { %>
                    <li>
                      <a href=""><i class="icon ion-android-car"></i> <%= val.ProfecinalNames %></a>
                    </li>
                    <% }) %>
                  </ul>
                  <div class="line"></div>
                  <div class="row">
                    <p class="custom-label"><strong>Add YourProf</strong></p>
                    <div class="form-group col-sm-8">
                      <input type="text" class="form-control input-group-lg" name="Hobby" placeholder="....." id="Profecinal" aria-describedby="button-addon2">
                    </div>
                    <div class="form-group col-sm-4">
                      <button id="AddProf"  class="btn btn-primary" type="button">Add Prof</button>
                    </div>
                  </div>
                </div>
                <!-- GroupName -->
                <div class="edit-block">
                  <ul class="list-inline interests">
                    <% _.forEach(user.FavGroup, function(val) { %>
                    <li>
                      <a href=""><i class="icon ion-android-alarm-clock"></i> <%= val.GroupName %></a>
                    </li>
                    <% }) %>
                  </ul>
                  <div class="line"></div>
                  <div class="row">
                    <p class="custom-label"><strong>Add YourProf</strong></p>
                    <div class="form-group col-sm-8">
                      <input type="text" class="form-control input-group-lg" name="Hobby" placeholder="....." id="FavGroup" aria-describedby="button-addon2">
                    </div>
                    <div class="form-group col-sm-4">
                      <button id="AddGroup"  class="btn btn-primary" type="button">Add Prof</button>
                    </div>
                  </div>
                </div>
                </form>
              </div>
            </div>
            <div class="col-md-2 static">
              
              <!--Sticky Timeline Activity Sidebar-->
              <div id="sticky-sidebar">
                <h4 class="grey"><%= user.username %>'s activity</h4>
                <div class="feed-item">
                  <div class="live-activity">
                    <p><a href="#" class="profile-link">zuber</a> Commended on a Photo</p>
                    <p class="text-muted">5 mins ago</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
<%- include ../partials/footer.ejs %>
  <script src="/js/privatechat/pm.js"></script>
  <script src="/js/messagelink.js"></script>
  <script src="/js/group/sendrequest.js"></script>
  <script src="/js/user/profile.js"></script>
  <script src="/js/user/userinfo.js"></script>
  <script src="/js/deparam.js"></script>
  <!-- END PAGE LEVEL JS-->
  </body>