<!DOCTYPE html>
<html lang="en" data-textdirection="ltr">

<head>

    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
    <meta name="author" content="ZUBER">
    <title><%= title %></title>

<%- include ../partials/navbar.ejs %>

    <!-- Profile Header -->

    <input type="hidden" name="" id="name-user" value="<%= user.username %>">
    <input type="hidden" name="" id="name-image" value="<%= user.userImage %>">
  <div class="app-content container center-layout mt-2">
    <div class="content-wrapper">
      <div class="content-header row">
      </div>
      <div class="content-body">
        <div id="user-profile">
          <div class="row">
            <div class="col-12">
              <div class="card profile-with-cover">
                <div class="card-img-top img-fluid bg-cover height-300" style="background: url('../../../app-assets/images/carousel/22.jpg') 50%;"></div>
                <div class="media profil-cover-details w-100">
                  <div class="media-left pl-2 pt-2">
                    <a href="#" class="profile-image">
                      <img src="../../../app-assets/images/portrait/small/avatar-s-8.png" class="rounded-circle img-border height-100"
                      alt="Card image">
                    </a>
                  </div>
                  <div class="media-body pt-3 px-2">
                    <div class="row">
                      <div class="col">
                        <h3 class="card-title">@ <%= user.username %></h3>
                      </div>
                      <div class="col text-right">
                        <button type="button" class="btn btn-primary"><i class="fa fa-plus"></i> Follow</button>
                        <div class="btn-group d-none d-md-block float-right ml-2" role="group" aria-label="Basic example">
                          <button type="button" class="btn btn-success"><i class="fa fa-dashcube"></i> Message</button>
                          <button type="button" class="btn btn-success"><i class="fa fa-cog"></i></button>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <nav class="navbar navbar-light navbar-profile align-self-end">
                  <button class="navbar-toggler d-sm-none" type="button" data-toggle="collapse" aria-expanded="false"
                  aria-label="Toggle navigation"></button>
                  <nav class="navbar navbar-expand-lg">
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                      <ul class="navbar-nav mr-auto">
                        <li class="nav-item">
                          <a class="nav-link" href="#"><i class="fa fa-line-chart"></i> Timeline <span class="sr-only">(current)</span></a>
                        </li>
                        <li class="nav-item">
                          <a class="nav-link" href="/settings/profile"><i class="ft-user"></i> Profile</a>
                        </li>
                        <li class="nav-item">
                          <a class="nav-link" href="/profile/<%= user.username %>"><i class="fa fa-heart-o"></i> Overview</a>
                        </li>
                        <li class="nav-item active">
                          <a class="nav-link" href="/settings/userinfo"><i class="fa fa-heart-o"></i> Add More Info</a>
                        </li>
                      </ul>
                    </div>
              </div>
              </div>
              </div>
              </div>
              </div>
              </div>
              
             
        <div class="content-body">
            <span style="text-align: center;" id="error"></span>
        <!-- Basic form layout section start -->
        <section id="horizontal-form-layouts">
          <div class="row">
            <div class="col-md-12">
              <div class="card">
                <div class="card-header">
                  <a class="heading-elements-toggle"><i class="fa fa-ellipsis-v font-medium-3"></i></a>
                  <div class="heading-elements">
                    <ul class="list-inline mb-0">
                      <li><a data-action="collapse"><i class="ft-minus"></i></a></li>
                      <li><a data-action="reload"><i class="ft-rotate-cw"></i></a></li>
                      <li><a data-action="expand"><i class="ft-maximize"></i></a></li>
                      <li><a data-action="close"><i class="ft-x"></i></a></li>
                    </ul>
                  </div>
                </div>
                <div class="card-content collpase show">
                  <div class="card-body">
                    <form class="form form-horizontal"role="form" method="POST"action="">
                      <div class="form-body">
                        <h4 class="form-section"><i class="ft-user"></i> Personal Info</h4>
                        <h4>Your Hobby</h4>
                        <hr>
                        <% _.forEach(user.Hobby, function(val) { %>
                            <p>
                                <span class="fa fa-check-square-o"></span>
                                <%= val.HobbyNames %>
                            </p>
                            <% }) %>
                        <div class="input-group">
                            
                            <input type="text" class="form-control" name="Hobby" placeholder="....." id="Hobby" aria-describedby="button-addon2">
                            <div class="input-group-append" id="button-addon2">
                                <button id="AddHobby" class="btn btn-primary" type="button">Add Hobby</button>
                            </div>
                        </div><br>

                        <h4>Your Profecinal</h4>
                        <hr>
                        <% _.forEach(user.Profecinal, function(val) { %>
                        <p>
                            <span class="fa fa-check-square-o"></span>
                            <%= val.ProfecinalNames %>
                        </p>
                    <% }) %>
                        <div class="input-group">
                            
                            <input type="text" class="form-control" name="Profecinal" placeholder="....." id="Profecinal"aria-describedby="button-addon2">
                            <div class="input-group-append" id="button-addon2">
                                <button id="AddProf" class="btn btn-primary" type="button">Add Hobby</button>
                            </div>
                        </div><br>

                        <h4>Add you like st</h4>
                        <hr>
                         <% _.forEach(user.FavGroup, function(val) { %>
                        <p>
                            <span class="fa fa-check-square-o"></span>
                            <%= val.GroupName %>
                        </p>
                    <% }) %>
                        <div class="input-group">
                            
                            <input type="text" class="form-control" name="FavGroup" placeholder="....." id="FavGroup" aria-describedby="button-addon2">
                            <div class="input-group-append" id="button-addon2">
                                <button id="AddGroup" class="btn btn-primary" type="button">Add Hobby</button>
                            </div>
                        </div>
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
        <!-- // Basic form layout section end -->
        </div>

</div>
<%- include ../partials/chatFooter.ejs %>
  <!-- BEGIN PAGE LEVEL JS-->
  <script src="/js/privatechat/pm.js"></script>
  <script src="/js/messagelink.js"></script>
  <script src="/js/group/sendrequest.js"></script>
  <script src="/js/user/profile.js"></script>
  <script src="/js/global.js"></script>
  <script src="/js/deparam.js"></script>
  <!-- END PAGE LEVEL JS-->
  </body>


