
<!DOCTYPE html>
<html lang="en">
	<head>
		<meta http-equiv="content-type" content="text/html; charset=utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="description" content="This is social network html5 template available in themeforest......" />
		<meta name="keywords" content="Social Network, Social Media, Make Friends, Newsfeed, Profile Page" />
		<meta name="robots" content="index, follow" />
		<title><%= title %></title>

<%- include ../partials/chatNav.ejs %>
<ul class="nav navbar-nav" id="main-menu-navigation" data-menu="menu-navigation">
  <li class="dropdown nav-item" data-menu="dropdown">
    <a class="dropdown-toggle nav-link" href="index.html" data-toggle="dropdown">
      <i class="ft-home"></i>
      <span>Friend Online <span id="numOfFriends"></span></span>
    </a>
    <ul class="dropdown-menu">
      <% if(data.friendsList.length > 0) { %>
        <% _.forEach(data.friendsList, function(value) { %>
      
      <div class="friend" hidden>@
        <%= value.friendName %>
      </div>
      <% }) %>
        <% } %>
        <li class="onlineFriends2" data-menu=""></li>
    </ul>
  </li>
</ul>
<!-- /horizontal menu content-->
</div>
</div>
<!-- Horizontal navigation-->

    <!-- Header
    ================================================= -->
    <!--Header End-->
    <input type="hidden" name="" id="name-user" value="<%= user.username %>">
    <input type="hidden" name="" id="name-image" value="<%= user.userImage %>">
    <div class="app-content container center-layout mt-2">
      <div class="sidebar-left sidebar-fixed">
        <div class="sidebar">
          <div class="sidebar-content card d-none d-lg-block">
            <div class="card-body chat-fixed-search">
              <fieldset class="form-group position-relative has-icon-left m-0">
                <input type="text" class="form-control" id="iconLeft4" placeholder="Search user">
                <div class="form-control-position">
                  <i class="ft-search"></i>
                </div>
              </fieldset>
            </div>
            <div id="users-list" class="list-group position-relative">
              <div class="users-list-padding media-list">
                <% if(data.friendsList.length > 0) { %>
                  <% _.forEach(data.friendsList, function(value) { %>
                
                <div class="friend" hidden>@<%= value.friendName %></div>
                
                <% }) %>
                  <% } %>
                <div class="onlineFriends"></div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="content-right">
        <div class="content-wrapper">
          <div class="content-header row">
          </div>
          <div class="content-body">
            <section class="chat-app-window">
              <div class="badge badge-default mb-1">Chat History</div>
              <div class="chats">
                <div id="messages" class="chats">
                   <% if(chats.length > 0) { %>
                        <% _.forEach(chats, function(val) { %>
                        <% if(name === val.receiver.username.toLowerCase()) { %>
                  <div class="chat chat-left">
                    <div class="chat-avatar">
                      <a class="avatar" data-toggle="tooltip" href="#" data-placement="right" title="" data-original-title="">
                        <img src="../../../app-assets/images/portrait/small/avatar-s-1.png" alt="avatar" />
                      </a>
                    </div>
                    <div class="chat-body">
                      <div class="chat-content">
                        <strong class="chat-name">
                          <%= val.senderName %>
                        </strong>
                        <p><%= val.message %></p>
                      </div>
                    </div>
                  </div>
                   <% } else if(name === val.sender.username.toLowerCase()) { %>
                    <div class="chat chat-left">
                    <div class="chat-avatar">
                      <a class="avatar" data-toggle="tooltip" href="#" data-placement="right" title="" data-original-title="">
                        <img src="../../../app-assets/images/portrait/small/avatar-s-1.png" alt="avatar" />
                      </a>
                    </div>
                    <div class="chat-body">
                      <div class="chat-content">
                        <strong class="chat-name">
                          <%= val.senderName %>
                        </strong>
                        <p><%= val.message %></p>
                      </div>
                    </div>
                  </div>
                   <% } %>   
                    <% }) %>
                    <% } %>
                </div>
             <script id="message-template" type="text/template">
                  <div class="chat chat-left">
                    <div class="chat-avatar">
                      <a class="avatar" data-toggle="tooltip" href="#" data-placement="right" title="" data-original-title="">
                        <img src="../../../app-assets/images/portrait/small/avatar-s-1.png" alt="avatar" />
                      </a>
                    </div>
                    <div class="chat-body">
                      <div class="chat-content">
                        <span class="chat-name">
                          {{ sender }}
                        </span>
                        <p>{{ text }}</p>
                      </div>
                    </div>
                  </div>                  
             </script>

              </div>
            </section>
            <section class="chat-app-form">
              <form class="chat-app-input d-flex" action="" id="message_form" method="POST">
                <input type="hidden" name="" id="groupName" value="">
                <fieldset class="form-group position-relative has-icon-left col-10 m-0">
                  <div class="form-control-position">
                    <i class="icon-emoticon-smile"></i>
                  </div>
                  <input name="message" id="msg" type="text" class="form-control" id="iconLeft4" placeholder="Type your message">
                  <div class="form-control-position control-position-right">
                    <i class="ft-image"></i>
                  </div>
                </fieldset>
                <fieldset class="form-group position-relative has-icon-left col-2 m-0">
                  <button id="send-message" class="btn btn-primary">
                    <i class="fa fa-paper-plane-o d-lg-none"></i>
                    <span class="d-none d-lg-block">Send</span>
                  </button>
                </fieldset>
              </form>
            </section>
          </div>
        </div>
      </div>
    </div>

    <!-- Footer
    ================================================= -->
    <!-- <footer id="footer">
      
		</footer> -->
    
 

    <!-- Scripts
    ================================================= -->
    <%- include ../partials/chatFooter.ejs %>

<script src="/socket.io/socket.io.js"></script>
<script src="/js/privatechat/pm.js"></script>
<script src="/js/messagelink.js"></script>
<script src="/js/group/sendrequest.js"></script>
<script src="/js/global.js"></script>
<script src="/js/deparam.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/mustache.js/2.3.0/mustache.js"></script>

</body>
</html>